Flask==3.1.0
Flask-SocketIO==5.5.1
aiohttp==3.11.13
async-timeout==4.0.3
python-socketio==5.12.1
python-engineio==4.11.2
langchain==0.3.21
langchain-core==0.3.48
langchain-openai==0.2.14
langchain-community==0.3.20
faiss-cpu==1.10.0
huggingface-hub==0.29.3
sentence-transformers==4.0.1
regex==2024.11.6
numpy==2.2.3
pandas==2.2.3
re==2024.11.6
beautifulsoup4==4.13.3
json5==0.10.0
jsonschema==4.23.0
pyyaml==6.0.2
protobuf==5.29.4
requests==2.32.3
werkzeug==3.1.3
